NODE_ENV=
PORT=

CORS_ORIGINS=

DB_URL=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_NAME=
DB_PORT=

MONGODB_URI=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

SANDBOX_PAYMENT_URL=
SANDBOX_PAYMENT_EMAIL=
SANDBOX_PAYMENT_SECRET=
SANDBOX_PAYMENT_IO_SELLER_ID=

JWT_SECRET=
